*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: poppins, 'sans-serif';
}
nav{
    margin-top: 20px;
    width: 80%;
    margin: 3rem auto;
    text-align: center;
    background-color: aqua;
    cursor: pointer;
}
.container{
    background-color: aquamarine;
    width: 90%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2rem;
}
.container .buttons{
    background-color: beige;
}
.container .buttons .button-filter{
    background-color: beige;
    display: block;
    outline: none;
    width: 50%;
    height: 5%;
    margin: 2rem 0;
    border-radius:1rem;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    left: 25%;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid goldenrod;
}
.container .buttons .button-filter:hover{
    background-color: goldenrod;
    color: black;
}
.underline{
    position: relative;
    left: 40%;
    width: 20%;
    height: .3rem;
    background-color: black;
}
.main-section{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 25% 25%;
}
.exercise-item img{
    width: 120%;
}
.exercise-info header{
    display: flex;
    justify-content:space-between;
    margin-bottom: 1rem;
}
.exercise-info .rutine{
    margin-bottom: 2rem;
}
.graphic{
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid gold;
    border-radius: 2rem;
  }