*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: poppins, 'sans-serif';
}
nav{
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    cursor: pointer;
}
.underline{
    position: relative;
    left: 40%;
    width: 20%;
    height: .3rem;
    background-color: black;
}
.main-section{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}
.exercise-item{
    display: flex;
    gap: 1rem 2rem;
    max-width: 60rem;
}
.graphic{
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid gold;
    border-radius: 2rem;
  }